<div class="box">
  <h2>注册</h2>
  <% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
  <% end %>
  <div class="account">
    <%= form_for @user do |f| %>
      <div class="form_item">
        <%= f.text_field :nickname, placeholder: "用户名" %>
      </div>
      <div class="form_item">
        <%= f.password_field :password, placeholder: "密码" %>
      </div>
      <p><%= f.submit "注册", class: 'btn_submit' %></p>
    <% end %>
    <p><%= link_to "登录", login_path %></p>
  </div>
</div>
