<div class="form_wrapper">
  <%= form_for @story do |f| %>
    <div class="form_item">
      <label>故事图片</label><br/>
      <%= f.file_field :avatar %>
    </div>
    <div class="form_item">
      <label>故事标题</label><br/>
      <%= f.text_field :title, class: 'long-txt' %>
    </div>
    <div class="form_item">
      <label>故事正文</label><br/>
      <%= f.text_area :body, id: 'story_body', :type=> 'hidden' %>
    </div>
    <div class="btn">
      <%= f.submit "提交", class: 'btn_submit' %>
      <%= link_to "取消", stories_path, class: 'btn_cancel' %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
var editor = new Simditor({
  textarea: $('#story_body'),
  toolbar: ['title', 'bold', 'italic', 'underline', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', 'link', '|','hr','indent','outdent','alignment','fullscreen'],
  pasteImage: false,
});
</script>
