<div class="nav">
  <%= link_to "首页", stories_path %><small class="arrow">></small>
  <span class="trace"><%= story.title %></span>
</div>

<div class="page">
  <div class="story_contain">
    <div class="big_pic">
      <%= image_tag (story.avatar_url(:thumb).to_s) %>
    </div>
    <p class="story_title1"><%= story.title %></p>
    <p class="writer"><%= current_user.nickname %></p>
    <span class="timeinfo1"><%= story.created_at.to_formatted_s %></span>
    <div class="body_contain">
      <p><%= story.body %></p>
    </div>
  </div>

</div>
