<div class="nav">
  <%= link_to "首页", stories_path %><small class="arrow">></small>
  <span class="trace"><%= @story.title %></span>
</div>

<div class="page">
  <div class="form_wrapper">
    <div class="big_pic">
      <%= image_tag (@story.avatar_url.to_s) %>
    </div>
    <h3><%= @story.title %></h3>
    <p class="timeinfo1"><%= @story.created_at.to_formatted_s %></p>
    <div class="body_contain">
      <%= sanitize(@story.body) %>
    </div>
  </div>

</div>
